*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --custom-red: rgb(245, 47, 47);
  --custom-light-grey: rgba(163, 159, 159, 0.758);
  --custom-text-grey: rgb(121, 118, 118);
}

body {
  --container: 60rem;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
}

/* ----------------header---------------------------- */
.siteHeader {
  position: sticky;
  display: flex;
  flex-direction: column;
  border-bottom: 0.5px solid rgba(211, 211, 211, 0.525);
  box-shadow: 0 1px 1px rgba(214, 212, 212, 0.324);
}

.topHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(232, 231, 231, 0.281);
  font-weight: 700;
  padding: 0 1rem;
}

.burgermenu {
  display: flex;
  align-items: center;
  gap: 1em;
}

.burgerBtn {
  background: none;
  border: none;
}

.login {
  display: flex;
  align-items: center;
  gap: 1em;
}

.crop-container {
  height: 100px;
  width: 440px;
  overflow: hidden;
  margin-top: -10px;
}
.crop-container img {
  margin-bottom: -20px;
  /* margin-top: -100px; */
}

.bottomHeader {
  display: flex;
  justify-content: center;
}

.bottomHeader nav ul {
  display: flex;
  gap: 2em;
  font-weight: 700;
  font-size: 0.7rem;
  padding: 0.5em 0;
}

.bottomHeader nav ul li:nth-child(3) a {
  color: red;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* --------------------banner----------------------- */
.banner {
  width: var(--container);
  margin: auto;
  margin-top: 0.5rem;
}
.banner img {
  width: 100%;
}

/* ------------------content wrapper------------------ */

.wrapper {
  width: var(--container);
  margin: auto;
  margin-top: 2rem;
}

/* ------------------articleGrid------------ */

.articleGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 3rem;
}

/* ----------article area------------ */

.articleOneHeader {
  grid-column: 2/5;
  color: var(--custom-light-grey);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.articleOneHeader span {
  color: var(--custom-red);
  margin-right: 0.5rem;
  text-transform: none;
}

.articleOneRight {
  grid-column: 2/5;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;

  position: relative;
}

.articleOneRight h2,
.articleOneRight p {
  padding-bottom: 0.7rem;
}
.articleOneRight p,
.articleOneFigure {
  color: rgb(165, 162, 162);
}

.articleOneFigure img {
  width: 100%;
}

.articleOneFigcaption {
  position: absolute;
  top: 22%;
  left: -33%;
  width: 30%;
  text-align: right;
  font-size: 0.8rem;
}
.articleOnePhotographer {
  position: absolute;
  top: 38%;
  left: -26%;
  font-size: 0.8rem;
  color: var(--custom-text-grey);
}

/* ----------article with overlay area-------------- */
.articleTwoLeft {
  grid-column: 1/2;

  color: var(--custom-red);
  font-weight: 700;
  padding-bottom: 0.3em;
  margin-right: 1rem;
  border-bottom: 3px dashed rgba(232, 230, 230, 0.779);
}
.sources .writer {
  display: flex;
  margin-bottom: 1.5rem;
  padding-top: 1em;
}

.sources .writer img {
  height: 100%;
  border-radius: 50%;
  margin-right: 0.5rem;
}

/* ment some placeholder når billede mangler */
.sources .writer .fa-user {
  display: none;
}

.sources .writer .fa-envelope,
.sources .photographer .fa-envelope {
  color: var(--custom-light-grey);
}
.sources .writer .fa-twitter {
  color: rgb(93, 172, 246);
}

.sources .photographer h2,
.sources .writer h2 {
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
}

.sources .photographer,
.sources .writer {
  font-size: 0.8rem;
}

.articleTwoHeader {
  grid-column: 2/5;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px dashed rgba(153, 152, 152, 0.779);
}

.articleTwoHeader,
.articleTwoHeader i {
  font-weight: 700;
  font-size: 0.8rem;
}

.articleTwoHeader i {
  color: var(--custom-light-grey);
}

.articleTwoRight {
  grid-column: 2/5;
}

/*/////// OVERLAY BENEATH  ///////*/

.overlayArt {
  position: relative;
  padding-top: 1.8rem;
}

.overlayArt_text {
  padding-bottom: 6rem;
  width: 60%;
}

/* jeg skulle have lagt article text og footer ind i én section derfor har jeg lavet position absolute istedet  */
.overlayArt_socials {
  display: flex;
  justify-content: flex-end;
  gap: 0.7em;
  width: 16rem;
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  /* float: right; KAN ikke fordi jeg er kommet til at sætte en container om min text*/
}

.overlayArt_socials a {
  width: 5rem;
  color: whitesmoke;
  letter-spacing: 1px;
  font-size: 0.6rem;
  text-align: center;
  text-transform: uppercase;
  padding: 0.8em 1.5em 0.8em 1.5em;
  border: 1px solid rgba(236, 234, 234, 0.688);
}
.overlayArt_socials a:nth-child(1) {
  background-color: rgba(54, 54, 181, 0.774);
}
.overlayArt_socials a:nth-child(2) {
  background-color: rgb(128, 203, 231);
}
.overlayArt_socials a:nth-child(3) {
  background-color: var(--custom-light-grey);
}

.overlayArt_overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
  width: 100%;

  text-align: center;
  background: linear-gradient(rgba(255, 255, 255, 0.351), white, white);
  padding-top: 7rem;
}

.overlayArt h2 {
  width: 60%;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.overlayArt_overlay_btn {
  width: 35%;
  background-color: var(--custom-red);
  border: none;
  border-radius: 2px;
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.5em;
  margin-bottom: 1.5rem;
}

.overlayArt_overlay p {
  font-size: 0.8rem;
  color: var(--custom-light-grey);
}
.overlayArt_overlay p span {
  font-weight: 700;
  color: rgb(90, 88, 88);
  text-decoration-line: underline;
}
/* -------------------slider-------------------- */

.sliderArea {
  width: 100%;
  margin-bottom: 2rem;
}

.sliderArea header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.4em;
  border-bottom: 2px dashed rgb(243, 237, 237);
  margin-bottom: 2rem;
}

.sliderArea header span:nth-child(1) {
  color: var(--custom-red);
  font-weight: 700;
}
.arrows {
  display: flex;
  gap: 1em;
  color: var(--custom-light-grey);
}

.slider {
  display: flex;
  justify-content: space-between;
}

.slider_figure {
  width: 24%;
}

.slider img {
  width: 100%;
}

.slider_caption {
  font-size: 0.8rem;
  font-weight: 700;
}

/* ----------------LatestNewsGrid------------------------ */

.latestNewsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.latestNewsGridLeft_span {
  grid-column: 1/2;
  color: var(--custom-red);
  font-weight: 700;
  margin-right: 1rem;
}

.latestNewsGridLeft_span,
.latestNewsGrid header {
  padding-bottom: 0.5em;
  border-bottom: 1px dashed rgb(175, 174, 174);
  margin-bottom: 0.5em;
}

.latestNewsGrid header {
  grid-column: 2/5;
  text-align: end;
}
.latestNewsGrid header a {
  color: var(--custom-red);
  font-weight: 700;
}

.latestNewsGrid aside {
  grid-column: 1/2;
  margin-right: 1.5rem;
}
.latestNewsGrid aside section {
  padding-bottom: 0.5rem;
  border-bottom: 0.5px solid rgb(243, 237, 237);
}

.latestNewsGrid aside section time {
  font-size: 0.8rem;
  color: grey;
}
.latestNewsGrid aside section h3 {
  font-size: 1rem;
}

.latestNewsGridRight {
  grid-column: 2/5;
}

.latestNewsGridRight h2 {
  font-size: 1rem;
  padding: 0.4rem 0 1rem 0;
}

.latestNews {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-bottom: 12em;
}

.latestNews_article {
  width: 31%;
  /* height: auto; */
}

.latestNews_article span {
  color: var(--custom-red);
}

.latestNews_article:nth-child(1) {
}
.latestNews_article:nth-child(2) span {
  visibility: hidden;
}
.latestNews_article:nth-child(3) span {
  visibility: hidden;
}
.latestNews_article:nth-child(3) img {
  display: none;
}
.latestNews_article:nth-child(3) .latestNews_figcaption {
  color: var(--custom-light-grey);
}

.latestNews_article:nth-child(5) img {
  display: none;
}

.latestNews_img {
  width: 100%;
  /* height: 7.5rem; */
  background-color: grey;
}

/* ----------------membergrid---------------- */

.memberGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 10em;
}

.memberGridLeft_span {
  grid-column: 1/2;
  margin-right: 1rem;
}

.memberGridLeft_span,
.memberGrid header {
  color: var(--custom-red);
  font-weight: bold;
  border-bottom: 1px solid rgba(238, 233, 233, 0.635);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.memberGrid header {
  grid-column: 2/5;
}

.memberGrid aside {
  grid-column: 1/2;
}
.memberGrid aside h3 {
  font-weight: 700;
}

.comment {
  grid-column: 2/5;
}

.comment_content:nth-child(1) {
  border-bottom: 3px solid rgb(218, 215, 215);
}

.comment_content {
  margin-bottom: 2rem;
  padding: 0 10em 2em 0;
}

.comment_content p {
  margin-bottom: 1em;
}
.comment_content a {
  font-weight: bold;
}
.comment_member {
  display: flex;
}
.comment_member i {
  font-size: 34px;
  text-align: center;
  padding: 4px;
  margin-right: 1rem;
}

.comment_member .writer_details h2 {
  font-size: 1rem;
  font-weight: bold;
}
.comment_member .writer_details div {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--custom-light-grey);
}

.memberGrid_footer {
  grid-column: 2/5;
  margin-top: 2rem;
  color: var(--custom-light-grey);
}
.memberGrid_footer a {
  color: black;
  font-weight: bold;
}

/* -----------------------footer---------------------- */
.siteFooter {
  background-color: rgb(220, 217, 217);
}
/* footergrid inde i footer for at låse footer content med margin overflow i sin egen container  */
.footerGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: var(--container);
  padding-bottom: 4rem;
  margin: auto;

  font-size: 0.8rem;
}

.footerGrid h2 {
  font-size: 1rem;
}

/* troede jeg havde brug for whiteTop men realized jeg bare skulle tilføje margin-top minus for at løfte min forside img  */
/* .whiteTop {
  height: 1.7rem;
  background-color: pink;
  display: none;
} */

/* .footerGrid section:nth-child(1) {
  grid-column: 1/5;
} */

/* nth child starter på 2 da jeg stadig har mit nth child 1 i html som jeg ikke på fjerne  */
.footerGrid section:nth-child(2) {
  grid-column: 1/2;
}
.footerGrid section:nth-child(3) {
  grid-column: 2/3;
  margin-top: -1.4rem;
  text-align: right;
  width: 95%;
}
.footerGrid section:nth-child(3) img {
  width: 15em;
  box-shadow: 0 3px 6px rgba(101, 100, 100, 0.615);
}

.footerGrid section:nth-child(4) {
  grid-column: 3/4;
}
.footerGrid section:nth-child(5) {
  grid-column: 4/5;
  padding-left: 4rem;
}
.footerGrid section:nth-child(5) p {
  margin-top: 2em;
}

.footerGrid,
.footerGrid a {
  color: rgb(110, 109, 109);
}

.footerGrid i {
  color: rgb(53, 52, 52);
  margin-right: 0.5rem;
}
.ul_text,
.footerGrid h2 {
  color: grey;
  margin: 1em 0 1em 0;
}

.footerGrid h2 {
  font-size: 1rem;
}

.footerGrid input {
  padding: 0.5em 1em 0.5em 1em;
  color: var(--custom-light-grey);
}
.footerGrid input:nth-child(1) {
  width: 60%;
}
.footerGrid input::placeholder {
  color: var(--custom-light-grey);
}

.footerInfo {
  background-color: rgb(220, 217, 217);
  text-align: center;
  /* border-top: 1px solid grey; */
  position: relative;
  font-size: 0.8rem;
  color: grey;
  line-break: 0.5rem;
  padding-top: 0.8em;
}

.footerInfo a {
  color: grey;
}

/* skulle have haft footerInfo inde i footerGrid så istedet måtte jeg lave denne løsning  */
.footerInfo::before {
  content: "";
  width: var(--container);
  height: 1px;
  background-color: whitesmoke;
  box-shadow: 1px 0 2px rgba(128, 128, 128, 0.442);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); /* 'makes left 50% move back half its size' */
}

.footerInfo button {
  margin: 2em 0;
  padding: 1em 2em;
  font-weight: bold;
  border: 0.5px solid rgba(245, 245, 245, 0.351);
}
